*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('assets\bg.jpg');
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding : 30px;
}

h1{
    text-align: center;
    margin-bottom: 30px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
